@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap);
@import 'tailwindcss';

@layer base {
  body {
    font-family: sans-serif, 'Poppins', 'Sono';
    color: var(--color-grey-600);
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1.6rem;
    transition:
      color 0.3s,
      background-color 0.3s;
  }
  img {
    max-width: 100%;
  }
}

@theme {
  --font-sono: 'Sono';
  --font-poppins: 'Poppins';
}

@layer components {
  .nav-link {
    @apply flex items-center gap-4 px-5 py-4 text-xl font-medium text-gray-600 transition-all duration-300 hover:bg-gray-100;
  }
  .nav-link-active {
    @apply rounded-md bg-gray-100 text-gray-900;
  }
  .nav-link svg {
    @apply h-6 w-6 text-gray-400 transition-all duration-300;
  }
  .nav-link-active svg,
  .nav-link:hover svg,
  .nav-link:active svg {
    @apply text-blue-600;
  }
}
